html body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.info-about-book {
    color: beige;
    padding: 0;
    margin: 0;
}

.book-of-the-month-name {
    color: rgba(245, 245, 220, 0.638);
    padding-bottom: 1em;
}

@media (max-width: 992px) {
    .intro-section {
        text-align: center;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    .more-about-botm {
        display: none;
    }

    .more-about-botm-mobile {
        border: 1px dotted white;
        border-radius: 1.5rem;
        margin: 0.8rem;
        margin-bottom: 6rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .more-about-botm-mobile .info-about-book {
        margin-bottom: 2rem;
    }

    .more-about-botm-mobile .book-of-the-month-cover {
        margin-bottom: 2rem;
    }

    .aboutdigest-archive-section {
        display: none;
    }

    .digest-section {
        text-align: center;
    }
}

@media (min-width: 500px) {
    .more-about-botm-mobile {
        display: none;
    }
}

div ol li a,
article p a {
    text-decoration: none;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}