.info-about-book {
    color: beige;
    padding: 0;
    margin: 0;
}

.book-of-the-month-name {
    color: rgba(245, 245, 220, 0.638);
    padding-bottom: 1em;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .book-of-the-month-cover {
        display: flex;
        flex-shrink: 3;
    }
}

div ol li a,
article p a {
    text-decoration: none;
}